h1{font-size:130%}
h2{font-size:120%}
h3{font-size:110%;padding:10px;background:#000;color:#fff;font-weight:bold;}
header{
  width:100%;
  padding:70px 0;
  text-align: center;
  background:#000 ;
  margin-bottom: 30px;
}
header div{
  font-size:200%;
  color:#fff;
  font-weight:bold;
  margin-bottom:10px;
}
header span{
  color:#fff;
  font-size:100% !important;
}
header a.title,header a.title:visited{text-decoration: none;color:#fff}

form.url_input input#url{width:300px;}
form.url_input input.generate{}

.flex-container{
  display:flex;
  justify-content: space-around;
}


/*人気のページ*/
div#popular{
  display:flex;
  -webkit-flex-wrap: wrap; /* Safari */
  flex-wrap: wrap;
  justify-content: center;
}
#popular .card{
  position:relative;
  width:300px;
  height:225px;
  border:2px solid #000;
  margin:1%;
}
#popular .card a{display:block;width:100%;height:100%;text-decoration: none;color:#fff;}
#popular .card a:hover{opacity:0.7;}
#popular .card .title{
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  display:block;
  padding:10px;
  background:rgba(19, 17, 19, 0.62)
}
#popular .card .count{
  position:absolute;
  top:0;
  right:0;
  color:#fff;
  background:#000;
  padding:3px 10px;
}
